server:
  port: 8080

spring:
  application:
    name: main-service

  datasource:
    url: jdbc:postgresql://ewm-db:5432/main_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  sql:
    init:
      mode: always

stats-server:
  url: http://stats-server:9090

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always

logging:
  level:
    org.springframework: INFO
    org.hibernate: INFO
    ru.practicum: DEBUG